@page
@model WorkshopModel
@{
    ViewData["Title"] = "Work Management";
}

<div class="text-center">
    <div>
    <h1 class="display-5">Workshop management - overview</h1>
    </div>
    <div >
    </div>
</div>
